*{
    margin: 0;
    padding: 0;
}

.top_menu ul{
    padding: 32px 0px;
    padding-left: 72px;
    text-align: center;
}

.top_menu li{
    display: inline;

    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-right: 72px;
}

article{
    padding: 88px 0px;
    width: 856px;
    margin-left: auto;
    margin-right: auto;
}

h2{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 135%;
}

.main_text{
    padding: 40px 0px;
}

ol{
    list-style: decimal;
}

.main_text p {
    color: #161616;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    padding-bottom: 24px;
}

.changed_text{
    color: #04959E;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.main_text li{
    color: #161616;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    list-style-position:inside;
}

.button{
    align-items: center;
    padding: 10px;
    width: 145px;/*не розумію чи то правильно задавати так фіксовану ширину*/
    margin-left: auto;
    margin-right: auto;
}

.button button{
    padding: 10px 24px;
    background: #04959E;
    border: none;
    
}

.button span{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
}

footer{
    border-top: #000 1px solid;
}

footer div{
    margin-left: auto;
    margin-right: auto;
    width: 856px;
    padding: 16px 0px;
    text-align: center;
}

footer div p{
    color: #161616;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

a{
    text-decoration: none;
    color: #000;
}

.main_images{
    background-image: url(../images/img.png);
    width: 100%;
    height: 552px;
    background-position: center center;
    background-size: cover;
    margin: auto;
}